#img-1{
    margin-left: 800px;
    margin-top: -350px;
}
.col-10{
    margin-top: 120px;
}

#carouselExampleSlidesOnly{
    background-color:#6495ED;
}

#btn-brCouses{
    background-color: orange;
    border-radius: 4px;
    
}
#btn-becomeins{
    background-color: white;
    border-radius: 4px
}
p{
    color: #45c0d5;
    opacity:1.5;
}

.row{
    column-gap: 20px;
}

.card-body img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.card-body p{
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through; 
    color: black;
}

.foot{
    margin-left: 800px;
}